.np{
      margin-left: 15%;
      display: block;
      
      
}
.outlet{
      padding-top: 80px;
  margin-left: 20px;
}
.main-dash{
         
          margin: 0;
          width: 100%;
          height: 100%;
          padding: 0;
          display: flex;
          border-radius: 30px;
          background-color: #FFFFFF;
}
.left-dash{
      position: fixed;
       margin-top:0rem;
          padding-top: 30px;
          width: 15%;
          height: 100%;
          background-color: #FFFFFF;
          display: block;
          padding-left: 40px;
          border-radius: 30px 0 0 30px;
          box-shadow: 0 0 20px rgba(0,0,0,0.3);

}
.left-dash .profile{
    display: flex;
    margin-bottom: 30px;
}
.left-dash .profile .prfile-image{
          width: 50%;
         
}
.left-dash .profile .prfile-image img{
          width: 60px;
          height: 60px;
          border: 2px solid #FF8097;
          border-radius: 50%;
}
.left-dash .dash-nav{
          padding-top: 40px;
          padding-bottom: 40px;
}
.left-dash .dash-nav .inner-dash-nav{
          display: block;
}
.left-dash .dash-nav .inner-dash-nav ul{
          display: block;
}

.left-dash .dash-nav .inner-dash-nav ul li{
          display: flex;
          gap: 2rem;
          margin: 25px 0 ;
}
ul li .dash-nav-icon{
          width: 25px;
          height: 25px;
         
}
.dash-popular-place{
      display: block;
}
.dash-popular-place-title{
         display: block;
         margin-bottom: 30px;
}
.dash-popular-place-title h1{
          font-size: 20px;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.dash-popular-place-list{
          display: block;
          margin-bottom: 20px;
}
.dash-popular-place-list ul{
          display: block;
}
.dash-popular-place-list ul li,.NavLink{
      display: flex;
}
.NavLink{
      display: flex;
}
.dash-popular-place-list ul li .places-icon{
          margin-right: 3rem;
         
}
.dash-popular-place-list ul li .places-icon .icon-o{
          width: 25px;
          height: 25px;
          color: #FF8097;
}
.dash-popular-place-list ul li .places-icon .icon-m{
          width: 25px;
          height: 25px;
          color: #8095ff;
}
.dash-log-out{
   border-top: 1px solid rgba(69, 92, 93,0.4);
   display: flex;
   padding-top: 40px;
   padding-bottom: 40px;
}
.Log-out-icon{
width: 25px;
height: 25px;
margin-left: 3rem;
margin-right: 2rem;
}
.right-dash{
       position: fixed;
          width: 100%;
          margin-left: 0%;
          height: 80px;
          padding: 20px;
          background-color:#FFFFFF;
          box-shadow: 0 0 10px black;
         
}
.modes{
      display: flex;
}
.dush-top-menu{
      display: flex;
      gap: 40rem;
}
.dash-setting{
      border-right: 1px solid black;
}
.charts{
     margin-top: 100px;
     margin-right: 100px;
}

.dush-top-menu .modes{
      display: flex;
}
.dush-top-menu .modes .dash-setting{
       padding-right: 90px;
}
.dush-top-menu .modes .dash-setting .settings{
      width: 30px;
      height: 30px;
     
}
.dush-top-menu .modes .mode-color{
      padding-left: 50px;
          display: flex;
          gap: 2rem;
}
.dush-top-menu .modes .mode-color .sun{
      width: 30px;
      height: 30px;
      color: #FFCA45;
}
.dush-top-menu .modes .mode-color .star{
      width: 30px;
      height: 30px;
     
}
.dush-top-menu .modes .mode-color .mode-text{
      font-size: 20px;
      margin: 5px;
}





     /*responsiveness*/

     @media screen and (max-width:390px) {

      .np{
            margin-left: 70px;
            display: block;
            
            
      }
      .outlet{
            padding-top: 80px;
        margin-left: 20px;
      }
      .main-dash{
               
                margin: 0;
                width: 100%;
                height: 100%;
                padding: 0;
                display: flex;
                border-radius: 30px;
                background-color: #FFFFFF;
      }
      .left-dash{
            position: fixed;
             margin-top:0rem;
                padding-top: 30px;
                width: 70px;
                height: 100%;
                background-color: #FFFFFF;
                display: block;
                padding-left: 5px;
                border-radius: 30px 0 0 30px;
                box-shadow: 0 0 20px rgba(0,0,0,0.3);
      
      }
      .left-dash .profile{
          display: block;
          margin-bottom: 30px;
          margin-left: 0;
      }
      .left-dash .profile .prfile-image{
                width: 50%;
                margin-left: 0;
               
      }
      .left-dash .profile .prfile-image img{
                width: 60px;
                height: 60px;
                border: 2px solid #FF8097;
                border-radius: 50%;
                
      }
      .left-dash .profile .profile-name{
            opacity: 0;
      }
      .left-dash .profile .profile-name:hover{
            opacity: 1;
      }
      .left-dash .profile .profile-name h1{
            font-size: medium;
      }
      .left-dash .profile .profile-name p{
            font-size: 15px;
      }
      .left-dash .dash-nav{
                padding-top: 40px;
                padding-bottom: 40px;
      }
      .left-dash .dash-nav .inner-dash-nav{
                display: block;
      }
      .left-dash .dash-nav .inner-dash-nav ul{
                display: block;
                margin-left: 20px;
      }
      .left-dash .dash-nav .inner-dash-nav ul li .NavLink p{
            opacity: 0;
      }
      .left-dash .dash-nav .inner-dash-nav ul li .NavLink p:hover{
            opacity: 1;
      }
      .dash-nav .inner-dash-nav ul li p{
            opacity: 0;
      }
      .dash-nav .inner-dash-nav ul li p:hover{
            opacity: 0;
      }
      
      .left-dash .dash-nav .inner-dash-nav ul li{
                display: flex;
                gap: 2rem;
                margin: 25px 0 ;
      }
      ul li .dash-nav-icon{
                width: 25px;
                height: 25px;
               
      }
      .dash-popular-place{
            display: block;
      }
      .dash-popular-place-title{
               display: block;
               margin-bottom: 30px;
      }
      .dash-popular-place-title h1{
            
                font-size: 15px;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      }
      .dash-popular-place-list{
                display: block;
                margin-bottom: 20px;
      }
      .dash-popular-place-list ul{
                display: block;
                margin-left: 20px;
      }
      .dash-popular-place-list ul li,.dash-popular-place-list ul li .NavLink{
            display: flex;
            
      }
      .dash-popular-place-list ul li .popular-lists{
            opacity: 0;
      }
      .NavLink{
            display: flex;
      }
      .dash-popular-place-list ul li .places-icon{
                margin-right: 3rem;
               
      }
      .dash-popular-place-list ul li .places-icon .icon-o{
                width: 25px;
                height: 25px;
                color: #FF8097;
      }
      .dash-popular-place-list ul li .places-icon .icon-m{
                width: 25px;
                height: 25px;
                color: #8095ff;
      }
      .dash-log-out{
         border-top: 1px solid rgba(69, 92, 93,0.4);
         display: flex;
         padding-top: 20px;
         padding-bottom: 40px;
      }
      .dash-log-out p{
            opacity: 0;
      }
      .Log-out-icon{
      width: 25px;
      height: 25px;
      margin-left: 1rem;
      margin-bottom: 2rem;
      margin-right: 2rem;
      }
      .Log-out-icon:hover{
            color: red;
      }
      .right-dash{
             position: fixed;
                width: 100%;
                margin-left: 0%;
                height: 80px;
                padding: 20px;
                background-color:#FFFFFF;
                box-shadow: 0 0 10px black;
               
      }
      .dush-top-menu .user-names{
            padding: 0;
            margin: 0;
      }
      .dush-top-menu .user-names h1{
            font-size: 18px;
      }
      .modes{
            display: flex;
      }
      .dush-top-menu{
            display: flex;
            gap: 5rem;
      }
      .dash-setting{
            border-right: 1px solid black;
      }
      .charts{
           margin-top: 10px;
           margin-right: 10px;
      }
      
      .dush-top-menu .modes{
            display: flex;
      }
      .dush-top-menu .modes .dash-setting{
             padding-right: 10px;
      }
      .dush-top-menu .modes .dash-setting .settings{
            width: 25px;
            height: 25px;
           
      }
      .dush-top-menu .modes .mode-color{
            padding-left: 10px;
                display: flex;
                gap: 1rem;
      }
      .dush-top-menu .modes .mode-color .sun{
            width: 30px;
            height: 30px;
            color: #FFCA45;
      }
      .dush-top-menu .modes .mode-color .star{
            width: 30px;
            height: 30px;
           
      }
      .dush-top-menu .modes .mode-color .mode-text{
            font-size: 10px;
            margin: 0px;
            opacity: 0;
      }
     }


     .loged_use_menu{
      font-size: small;
     }