.header1{
        
          height: 80px;
          background-color: rgb(42, 42,42);
          display: flex;
          z-index: 0;
          position: relative;
}
.header-2{
          margin-top: -30px;
          gap: 730px;
          position: relative;
          display: flex;
          padding: 20px;
          height: 100px;
          background-color: #FFFFFF;
          margin-left: 230px;
          width: 1400px;
          z-index: 30;
}
.header1-col-1{
          width: 60%;
          margin-left: 200px;
          display: flex;

}
.header1-col-1 ul{
          display: flex;
          list-style-type: none;

}
.header1-col-1 ul li{
          border-left: 1px solid rgb(255 255 255 / 0.5);
          
          margin-right: 20px;
          padding-left: 50px;
}
.header1-col-1 ul .we{
          border-left: none;
          margin-top: 15px;
          margin-right: 20px;
          padding-left: 50px;
}
.header1-col-1 ul .wq{
       
          padding-top: 15px;
         
}
.header1-col-1 ul li a{
         
          text-decoration: none;
          display: flex;
}
.header1-col-1 ul li a .icon{
          
          color: #C29D59;
          width: 30px;
          height: 30px;
         
}
.header1-col-1 ul li a .text{
         margin: 10px;
          color: white;
}
.header-social{
          display: flex;
          list-style-type: none;
}

.header-social li a {
          font-size: 25px;
          width: 50px;
          height: 50px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
        
      }
      .instgr{
          border-left: 1px solid rgb(255 255 255 / 0.5);
          border-right: 1px solid rgb(255 255 255 / 0.5);
      }
      .header-social li a .icon{
          width: 30px;
          height:30px;
          color: #C29D59;
      }
      .social{
          padding-left: 180px;
      }
      .header-munu{
          display: flex;
      }
      .sec-btn {
          width: 170px;
          height: 50px;
          background: #C29D59;
          border: none;
          outline: none;
          border-radius: 5px;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          font-size: 16px;
          line-height: 26px;
          padding: 0;
          color:  #ffffff;
          font-weight: bold;
          text-transform: uppercase;
          position: relative;
          cursor: pointer;
          overflow: hidden;
          transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
          z-index: 2;
      }
      .search{
          margin-left: 25px;
          margin-top: 10px;
          justify-content: center;
          align-items: center;
      }
      .search .search-icon{
          border-radius: 50%;
          border: 2px solid #000000;
          justify-content: center;
          align-items: center;
          width: 50px;
          height: 50px;
          padding: 15px;
          


      }
      .search .search-icon .search-icon-1{
          height: 20px;
          width: 20px;
      }
      .navigation-btn {
          width: 55px;
          height: 55px;
          border-radius: 50%;
          border: none;
          outline: none;
          background: #C29D59;
          border: 2px solid #C29D59;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          margin-left: 15px;
          padding: 15px 13px;
          position: relative;
          transition: var(--transition);
      }
      .navigation-btn span {
          height: 2px;
          background: #ffffff;
          margin-bottom: 4px;
          display: block;
          transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
      }
      .navigation-btn span.first {
          width: 25px;
      }
      .navigation-btn span.second {
          width: 20px;
          margin-left: auto;
      }
      .navigation-btn span.third {
          width: 15px;
          margin-left: auto;
          margin-bottom: 0;
      }