.slaides{
      width: auto;
      height: 700px;
      display: flex;
      align-items: center;
      padding-bottom: 0;
      margin-bottom: 0;
}
/* 
.section{
      width: auto;
      height: 976px;
      display: flex;
      align-items: center;
      background-color: blue;
} */

.slaides .container{
          width: auto;
          height: 976px;
          display: flex;
          align-items: center;
}
.slaides .container .slide-arrow{
          background-color: yellow;
          width: 40px;
          flex-direction: column;
          height: 100px;
          border: none;
          border-radius: 5px;
}
.image_scrool{
          width: 100%;
          height:  976px;
          position: absolute;
          left: 0px;
          top: 0px;
          z-index: -1;
}
.section.about{
    padding: 0px 200px;

}

.txd .content{
          width: 800px;
          height: 500px;
          /* border: 1px solid #fff; */
          margin-left: 460px;
          align-items: center;
          margin-right: 480px;
          align-content: center;
}
.content .h1-title{
      color: #FFFFFF;
      font-size: 80px;
      padding: 20px;
      align-items: center;
      align-content: center;
}
.h1-title span{
          margin: 0px;
          background-color: #C29D59;
}
.content p{
      color: white;
      font-size: 20px;
      line-height: 30px;
      margin: auto;
      width: 77%;
}
/* form */
.bannerform-1{
  justify-content: center;
  padding-left: 30px;
  margin-left: 20%;
}
.bannerform-1 .banner-form {
      background:  #ffffff;
      box-shadow:  0 3px 6px rgb(0 0 0 / 16%);
      padding: 25px 30px;
      position: relative;
      margin-top: 100px;
      
      border-left: 3px solid  #C29D59;;
      border-right: 3px solid #C29D59;
      display: flex;
      width: 1000px;
      margin-left: 20px;
      align-items: center;
  }

  .bannerform-1   .formxxx .banner-form .banner-form form {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -15px;
      height: 50px;

  }
   .input-col {
      max-width: 20.545%;
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;
      flex: 0 0 27.545%;
  }

  .formxxx{
    display: flex;
  }
  .form-control-span {
      position: relative;
      width: 100%;
      display: block;
  }
  .form-control-span .icon {
      position: absolute;
      top: 13px;
      left: 15px;
      font-size: 20px;
      color:  #C29D59;
  }
  .form-control-span .form-input {
      width: 100%;
      height: 50px;
      background: transparent;
      padding: 10px 45px;
      border: 1px solid #2B2B2B;
      border-radius: 5px;
      color: black;
      font-size: 16px;
      line-height: 26px;
  }
  /*2-section*/
  .logo-icon {
    position: absolute;
    left: 0;
    bottom: 100px;
    opacity: 0.2;
}
.sec-wp {
    position: relative;
    z-index: 4;
}
.row {
    margin-top: 100px;
    padding-left: 100px;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.row .col-lg-6{
padding-left: 50px;
position: relative;
width: 50%;
padding-right: 15px;
padding-left: 15px;
}
.row .col-lg-6 .about-content {
    padding-right: 26px;
    padding-top: 30px;
}


.line-title {
    padding-left: 10px;
    border-left: 3px solid #C29D59;
    margin-bottom: 15px;
}
.h2-title {
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: #2B2B2B;;
    margin-bottom: 15px;
    position: relative;
}
p {
    font-size: 16px;
    line-height: 24px;
    color:  #2B2B2B;
}
.about-image-wp {
    position: relative;
    padding-right: 100px;
    padding-bottom: 40px;
    display: block;
    font-size: 0;
    line-height: 0;
}
.about-image-box.big {
    width: 100%;
    height: 440px;
    padding: 7px;
    border: 3px solid #C29D59;
    background:  #ffffff;;
    box-shadow:  0 3px 6px rgb(0 0 0 / 16%);
}
.about-image {
    background-image: url(/los_angeles.jpeg);
    width: 100%;
    height: 100%;
}
.about-image-box.small {
    width: 270px;
    height: 200px;
    padding: 7px;
    border: 3px solid  #C29D59;;
    background: #ffffff;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
    position: absolute;
    bottom: 0;
    right: 0;
}
.about-image {
    width: 100%;
    height: 100%;
}

.back-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/*destination*/
.line-title {
    padding-left: 10px;
    border-left: 3px solid #C29D59;
    margin-bottom: 15px;
}
.line-title .h4-title {
    color:  #C29D59;
    margin-bottom: 0;
    font-family: 'Titillium Web';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}
.h2-title {
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: black;
    margin-bottom: 15px;
    position: relative;
}
.h2-title span {
    font-weight: bold;
}

.containero{
    width: 80%;
    padding-right: 15px;
    height: inherit;
    margin-right: 100px;
    margin-left: 325px;
    display: block;
}
.containero .min_container{
    width: 50%;
}
.containero .fadeup-animation {
   
    display: flex;
   
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: 0;
}
.fadeup-animation .col-lg-8 {
    margin-right: 25px;
    
    flex: 0 0 66.666667%;
    max-width: 53.666667%;
}
.col-lg-4 {
   
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.destination-box {
    margin-bottom: 40px;
}
.destination-box a {
    text-decoration: none;
    display: block;
}
.destination-box .destination-box-image-wp {
    overflow: hidden;
    
}
.destination-box .destination-box-image {
    margin: 10px;
    background-image: url(/image.jpg);
    width: 100%;
    height: 370px;
    box-shadow:0 3px 6px rgb(0 0 0 / 16%);
    transition:0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
}
.destination-box-content {
    margin: -27px 30px 0 30px;
    position: relative;
    z-index: 2;
}
.destination-box-content-inner {
    width: auto;
    display: inline-block;
    padding: 7px 15px;
    background:#ffffff;
    border-left: 3px solid #C29D59;
    box-shadow: 0 3px 6px rgb(0  0 0 /16%);
    min-width: 150px;
    text-align: center;
    position: relative;
    z-index: 2;
}
.destination-box-content-inner:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #C29D59;
    /* -webkit-transform: scaleX(0); */
    transform: scaleX(0);
    /* -webkit-transform-origin: right; */
    transform-origin: right;
    -webkit-transition: -webkit-transform 0.95s cubic-bezier(0.23, 1, 0.23, 1);
    transition: transform 0.95s cubic-bezier(0.23, 1, 0.23, 1), -webkit-transform 0.95s cubic-bezier(0.23, 1, 0.23, 1);
    z-index: -1;
}
.h3-title {
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    color: #2B2B2B;
    position: relative;
    margin-bottom: 0;
}
.destination-box-image.back-image.b{
            height: 830px;
}
.row.n {
    margin-top: 30px;
    padding-left: 0px;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.destination-see-more {
    text-align: center;
    width: 100%;
    margin-top: 10px;
}
.sec-btn {
    text-decoration: none;
    width: 170px;
    height: 50px;
    background: #C29D59;
    border: none;
    outline: none;
    border-radius: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 26px;
    padding: 0;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition:0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
    z-index: 2;
}


/*testmonial*/
.main-testimonial .container{
    max-width: 1200px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.main-testimonial .container .align-items-end{
align-items: flex-end!important;
}
@media (min-width: 992px){
.col-lg-5 {
    
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}
}
.testimonial-left-side{
    position: relative;
    margin-top: -112px;
    z-index: 2;
    padding-top: 70px;
}
.sec-title{
    margin-bottom: 30px;
}
.sec-title .line-title{
    border-color:#ffffff;
}
.line-title{
    padding-left: 10px;
    border-left: 3px solid #C29D59;
    margin-bottom: 15px;
}
.sec-title .line-title .h4-title{
    color: #ffffff;
    margin-bottom: 0;
    font-family:  'Titillium Web';
    font-weight: 400;
}
.sec-title .h2-title {
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: #ffffff;
    margin-bottom: 15px;
    position: relative;
}
.testimonial-quote {
    background: #ffffff;
    text-align: right;
    padding: 112px 0 0 0;
}
.testimonial-quote img {
    width: 295px;
}
img {
    max-width: 100%;
    height: auto;
}
.testimonial-left-side:before {
    content: '';
    position: absolute;
    background: #C29D59;
    width: 500%;
    height: 100%;
    right: 0;
    top: 0;
    z-index: -1;
}
.testimonial-stars .i{
    color: #C29D59;
    font-size: 20px;
    margin-right: 10px;
}
.testimonial-slide .overflow-text{
    max-height: unset;
    height: 178px;
}
.testimonial-slide .overflow-text p{
    font-size: 25px;
    font-weight: 400;
    line-height: 35px;
    display: block;
}
.testimonial-name .h3-title{
    color: #C29D59;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    position: relative;
    margin-bottom: 0;
}

.testimonial-name .rated {
    color: #000000;
    opacity: 0.5;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
}

@media (min-width: 992px){
.offset-lg-1 {
    margin-left: 8.333333%;
}
}
.testimonial-right-side {
    padding: 70px 0 0 0;
}
.testimonial-slider.slick-slider {
    margin-bottom: 35px;
    margin-left: -15px;
    margin-right: -15px;
}
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.testimonial-slider .slick-dots{
    text-align: left;
    bottom: -35px;
    padding-left: 15px;
}
.slick-dots li{
    width: auto;
    height: auto;
    margin: 0;
    margin-right: 15px;
    position: relative;
    display: inline-block;
    cursor: pointer;

}
.slick-dots li button{
    width: 15px;
    height: 15px;
    background: transparent;
    border-radius: 50%;
    border: 2px solid #C29D59;
    transition: 0.8s cubic-bezier(0.22,0.78,0.45,1.02);
}


/*responsiveness*/

@media screen and (max-width:390px) {

    .section.about{
        padding: 0px 0px;
    
    }

    .slaides{
        width: auto;
        height: 500px;
        display: flex;
        align-items: center;
        padding-bottom: 0;
        margin-bottom: 0;
  }
  
  
  .slaides .container{
            width: 390px;
            padding: 0;
            margin: 0;
            height: 500px;
            display: flex;
            align-items: center;
  }
  .slaides .container .slide-arrow{
           opacity: 0;
  }
  .image_scrool{
            width: 390px;
            height:  500px;
            position: absolute;
             margin: 0;
             padding: 0;
            z-index: -1;
  }
  
  .txd .content{
            width: 390px;
            height: 500px;
            /* border: 1px solid #fff; */
            margin-left: 0px;
            align-items: center;
            margin-right: 0px;
            align-content: center;
  }
  .content .h1-title{
       
        color: #FFFFFF;
        font-size: 35px;
        padding: 10px 0px 10px 0px;
        align-items: center;
        align-content: center;
  }
  .h1-title span{
            margin: 0px;
            background-color: #C29D59;
  }
  .content p{
        margin-left: 0;
        color: white;
        font-size: 15px;
        line-height: 20px;
        margin: auto;
        width: 77%;
  }
  /* form */
  .bannerform-1{
    justify-content: center;
    padding-left: 0px;
    margin-left: 2%;
    margin-top: -200px;
  }
  .bannerform-1 .banner-form {
        background:  #ffffff;
        box-shadow:  0 3px 6px rgb(0 0 0 / 16%);
        padding: 25px 30px;
        position: relative;
        margin-top: 100px;
        
        border-left: 3px solid  #C29D59;;
        border-right: 3px solid #C29D59;
        display: flex;
        width: 350px;
        margin-left: 10px;
        align-items: center;
    }
    .formxxx{
        display: block;
      }
  
    .bannerform-1   .formxxx .banner-form .banner-form form {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
        height: 50px;
  
    }
     .input-col {
        max-width: 100%;
        padding-left: 15px;
        margin-top: 15px;
        padding-right: 15px;
        width: 100%;
        flex: 0 0 100%;
    }
  
    
    .form-control-span {
        position: relative;
        width: 100%;
        display: block;
    }
    .form-control-span .icon {
        position: absolute;
        top: 13px;
        left: 15px;
        font-size: 20px;
        color:  #C29D59;
        visibility: visible;
    }
    .form-control-span .form-input {
        width: 100%;
        height: 50px;
        background: transparent;
        padding: 10px 45px;
        border: 1px solid #2B2B2B;
        border-radius: 5px;
        color: black;
        font-size: 16px;
        line-height: 26px;
    }
    .input-col .form-control-span .sec-btn{
        opacity: 1;
        width: 100%;
    }
    /*2-section*/
    .logo-icon {
     
      opacity: 0;
  }
  .sec-wp {
      position: relative;
      z-index: 4;
  }
  .section .row {
      margin-top: 100px;
      padding-left: 10px;
      margin-left: 3px;
      display: block;
     
  }
  .row .col-lg-6{
  padding-left: 10px;
  position: relative;
  width: 100%;
  padding-right: 25px;
  padding-left: 5px;
  }
  .row .col-lg-6 .about-content {
      padding-right: 20px;
      padding-top: 20px;
  }
  
  
  .line-title {
      padding-left: 10px;
      border-left: 3px solid #C29D59;
      margin-bottom: 15px;
  }
  .h2-title {
      font-weight: 400;
      font-size: 40px;
      line-height: 50px;
      color: #2B2B2B;;
      margin-bottom: 15px;
      position: relative;
  }
  p {
      font-size: 16px;
      line-height: 24px;
      color:  #2B2B2B;
  }
  .about-image-wp {
      position: relative;
      padding-right: 100px;
      padding-bottom: 40px;
      display: block;
      font-size: 0;
      line-height: 0;
  }
  .about-image-box.big {
      width: 100%;
      height: 240px;
      padding: 7px;
      border: 3px solid #C29D59;
      background:  #ffffff;;
      box-shadow:  0 3px 6px rgb(0 0 0 / 16%);
  }
  .about-image {
      background-image: url(/los_angeles.jpeg);
      width: 100%;
      height: 100%;
  }
  .about-image-box.small {
      width: 170px;
      height: 200px;
      padding: 7px;
      border: 3px solid  #C29D59;;
      background: #ffffff;
      box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
      position: absolute;
      bottom: 0;
      right: 0;
  }
  .about-image {
      width: 100%;
      height: 100%;
  }
  
  .back-image {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  }
  /*destination*/
  .line-title {
      padding-left: 0px;
      border-left: 3px solid #C29D59;
      margin-bottom: 15px;
  }
  .line-title .h4-title {
      color:  #C29D59;
      margin-bottom: 0;
      font-family: 'Titillium Web';
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
  }
  .h2-title {
      font-weight: 400;
      font-size: 30px;
      line-height: 50px;
      color: black;
      margin-bottom: 15px;
      position: relative;
  }
  .h2-title span {
      font-weight: bold;
  }
  
  .containero{
      width: 100%;
      padding-right: 0;
      height: inherit;
      margin-right: 0px;
      margin-left: 20px;
      display: block;
  }
  .containero .min_container{
      width: 95%;
  }
  .containero .fadeup-animation {
     
      display: block;
     
      flex-wrap: wrap;
      margin-right: 15px;
      margin-left: 0;
  }
  .fadeup-animation .col-lg-8 {
      margin-right: 25px;
      
      flex: 0 0 99.666667%;
      max-width: 99.666667%;
  }
  .col-lg-4 {
     
      flex: 0 0 33.333333%;
      max-width: 99.933333%;
  }
  .destination-box {
      margin-bottom: 40px;
  }
  .destination-box a {
      text-decoration: none;
      display: block;
  }
  .destination-box .destination-box-image-wp {
      overflow: hidden;
      
  }
  .destination-box .destination-box-image {
      margin: 10px;
      background-image: url(/image.jpg);
      width: 100%;
      height: 370px;
      box-shadow:0 3px 6px rgb(0 0 0 / 16%);
      transition:0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
  }
  .destination-box-content {
      margin: -27px 30px 0 30px;
      position: relative;
      z-index: 2;
  }
  .destination-box-content-inner {
      width: auto;
      display: inline-block;
      padding: 7px 15px;
      background:#ffffff;
      border-left: 3px solid #C29D59;
      box-shadow: 0 3px 6px rgb(0  0 0 /16%);
      min-width: 150px;
      text-align: center;
      position: relative;
      z-index: 2;
  }
  .destination-box-content-inner:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #C29D59;
      /* -webkit-transform: scaleX(0); */
      transform: scaleX(0);
      /* -webkit-transform-origin: right; */
      transform-origin: right;
      -webkit-transition: -webkit-transform 0.95s cubic-bezier(0.23, 1, 0.23, 1);
      transition: transform 0.95s cubic-bezier(0.23, 1, 0.23, 1), -webkit-transform 0.95s cubic-bezier(0.23, 1, 0.23, 1);
      z-index: -1;
  }
  .h3-title {
      font-weight: bold;
      font-size: 30px;
      line-height: 40px;
      color: #2B2B2B;
      position: relative;
      margin-bottom: 0;
  }
  .destination-box-image.back-image.b{
              height: 830px;
  }
  .row.n {
      margin-top: 30px;
      padding-left: 0px;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
  }
  .destination-see-more {
      text-align: center;
      width: 100%;
      margin-top: 10px;
  }
  .sec-btn {
      text-decoration: none;
      width: 170px;
      height: 50px;
      background: #C29D59;
      border: none;
      outline: none;
      border-radius: 5px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      line-height: 26px;
      padding: 0;
      color: #ffffff;
      font-weight: bold;
      text-transform: uppercase;
      position: relative;
      cursor: pointer;
      overflow: hidden;
      transition:0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
      z-index: 2;
  }
      
}

